@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {

    font-size: 16px;
    height: 100%;
    font-family: "Alumni Sans", sans-serif;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    padding: 0 2rem;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;

    /* position: absolute; */
    /* top: 50%; */
}

.search button {
    margin: 0rem .5rem 0rem;
    padding: 0;
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    background: #4d54ff;

    transform: translate(53px, 0px);

}

.search img {
    width: 25px;
    height: 25px;
}

.search input {
    height: 50px;
    width: 300px;
    padding: 0.5rem 0.5rem 0.5rem 3.1rem;

    border: none;
    border-radius: 100px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

}

.box_midia {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
}

.clima {

    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    padding: 2rem;
    width: 350px;
    height: 100%;

    max-height: 550px;
    z-index: 1;
}

.clima img {
    height: 11.5rem;
    margin-bottom: 0.25rem;
}

.clima h2 {
    width: 325px;
    margin-bottom: 0.625rem;
    font-size: 3.375rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    text-decoration: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clima h3 {
    font-size: 8rem;
    line-height: 6rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
}

.variacao {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    max-width: 200px;
    margin-bottom: .75rem;
    text-transform: uppercase;
}

.variacao p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2rem;
}

.clima ::after {
    content: "";
    position: absolute;
    top: 8rem;
    left: 0rem;

    border-radius: 50px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    filter: blur(10.5px);

    height: 406px;
    width: 350px;
    z-index: -1;
    background: linear-gradient(#C2BCC200, #C2BCC2CC);

}

.music {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    padding: 2rem;
    width: 350px;
    height: 100%;

    max-height: 550px;
    z-index: 1;
}

.music img {
    width: 8.5rem;
    height: 8.5rem;

    margin-bottom: 1.25rem;
    margin-top: 2rem;
}

.music h2 {
    font-size: 3.75rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.playlist-box {
    width: 100%;
    list-style: none;
}

.playlist-box li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0rem 0.75rem;

}

.playlist-box li img {
    width: 40px;
    height: 40px;

    margin-right: 0.75rem;
}

.playlist-box li p {
    width: 210px;
    font-size: 2rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.music ::after {
    content: "";
    position: absolute;
    top: 8rem;
    left: 0rem;
    border-radius: 50px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, rgba(194, 188, 194, 0.00) 0%);
    filter: blur(4.5px);

    height: 406px;
    width: 350px;
    z-index: -1;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    z-index: 1;
}

/* Video-fundo */
.video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    background-position: center;

    z-index: -1;
}